<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NetahsilatWebServiceLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetahsilatWebServiceLib.Properties.Settings>
            <setting name="NetahsilatWebServiceLib_ErpWebService_ErpWebService" serializeAs="String">
                <value>http://erpdemosrv.netahsilatservice.com/ERP/ErpWebService.svc</value>
            </setting>
            <setting name="NetahsilatWebServiceLib_CurrentAccountTransactionService_CurrentAccountTransaction" serializeAs="String">
                <value>http://erpdemosrv.netahsilatservice.com/CAT/CurrentAccountTransaction.svc</value>
            </setting>
        </NetahsilatWebServiceLib.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVendorWebService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVendorWebService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://erpdemosrv.netahsilatservice.com/Vendorservice/VendorWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendorWebService"
        contract="VendorWebService.IVendorWebService" name="BasicHttpBinding_IVendorWebService" />
    </client>
  </system.serviceModel>
</configuration>